{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Geolocation Click Counter</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> -->
    <style>
</style>
</head>
<body>
    <h1>Geolocation Click Counter</h1>
    <form method="POST">
      {% csrf_token %}
      <h2>Click the button to get in the click race.</h2>
      <button id = "btn" name="location_button" value="clicked" onclick="getLocation()">Click Me</button>
    </form>
    <form>
      <p id="location-info"></p>
    </form>
    
<script>
  var locationInfo = document.getElementById("location-info");      
  var btn =document.getElementById("btn");    
    function getLocation() {
    if (navigator.geolocation) 
        {
        navigator.geolocation.getCurrentPosition(getPosition, showError)  ;  
      }    
    }
    function showError(error){btn.value = error.code;}
    function getPosition(position)
    {  
        var url = "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" + position.coords.latitude + "&lon=" + position.coords.longitude;
        $.getJSON(url, function(data) {
          var state = data.address.state ? data.address.state : "";
          var country = data.address.country ? data.address.country : "";
          var location = state + ", " + country;
          locationInfo.innerHTML = "Location: " + location;
          btn.value = location;
          // Send the location to Django view
          var csrftoken = $("[name=csrfmiddlewaretoken]").val();
          $.ajax({
              url: "/",
              type: "POST",
              headers: {"X-CSRFToken": csrftoken},
              data: {location_button: 'clicked', location_key: location,  location_info: locationInfo.innerHTML},
              dataType: "json"
          });

        });
      }

    
    function showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          x.innerHTML = "User denied the request for Geolocation."
          break;
        case error.POSITION_UNAVAILABLE:
          x.innerHTML = "Location information is unavailable."
          break;
        case error.TIMEOUT:
          x.innerHTML = "The request to get user location timed out."
          break;
        case error.UNKNOWN_ERROR:
          x.innerHTML = "An unknown error occurred."
          break;
      }
    }
    </script>
        <form>
          <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for location, count in data %}
                <tr>
                    <td>{{location }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
  </form>
    <form>
<div class="chart-container">{{ chart|safe }}</div>

    <div>{{ chart|safe }}</div>

  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>
